:root{
  --kursiv-text: 'Bickham-Script-One';
  --main-font: 'Cormorant';
  --background-color:  #FFFFFF;
  --kursiv-color: #7C1111;
  --button-color: #FFFFFF;
  --bg-color: #FFFFFF;
  --bg-green: #303419;
  --color-text-green: #FFFFFF;
  --color-text-brown: #503C24;
  --timer-font: 'GentiumPlus';
}